body{
font-family:Arial,sans-serif;
background: #495672;
text-align: center;  
margin: 0;
padding: 20px;
}

.container{
    max-width: 400px;
    margin: auto;
    background: rgb(99, 108, 62);
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 0 15px rgba,(0,0,0.1);
} 

button {


    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
}

ul{
    list-style-type: none;
    padding: 0;
}

.ammunition {
cursor: pointer;
color:black;
padding: 10px;
margin: 5px;
background-color: #f0f0f0;
border:-radius 8px;
transition: background-color 0.2s ease;
display: inline-block;
}
.ammunition:hover{
background-color: #d0d0d0;
}
